{% extends "layout.html" %}

{% block css %}
<!--suppress HtmlUnknownTarget -->
<link href="{{ url_for('static', filename='css/register.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ _('Register') }}</h3>
            </div>
            <div class="panel-body">
                <form>
                    {% for input, type_of_input in inputs %}
                        {% if input != "id" %}
                            <div class="form-group">
                                <input class="form-control" placeholder="{{ input }}"
                                       name="{{ input }}" type="{{ type_of_input }}">
                            </div>
                        {% endif %}
                    {% endfor %}
                    <button id="submit_register" class="btn btn-success">{{ _('Register') }}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}